@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  --line-color: #e5e7eb;
}

::selection {
  @apply dark:bg-white/80 dark:text-black bg-black text-white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html {
  animation: fadeIn 5s;
}


html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.article h4 {
  @apply text-lg mt-8;
}

.article p {
  @apply max-w-[60ch] text-lg leading-normal text-left;
}

.article ol {
  list-style-type: decimal;
  @apply max-w-[60ch] text-lg leading-normal text-left mb-8;
}

.article ul {
  list-style-type: disc;
  @apply max-w-[60ch] text-lg leading-normal text-left mb-8;
}

.article li {
  @apply mt-2 ml-8;
}

.article h1 {
  @apply text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100;
}

.blob {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(to right, #7fffd4, #9370d8);
  animation: rotate 20s infinite;
  @apply dark:opacity-40;
}

.blur {
  z-index: 2;
  backdrop-filter: blur(10vmax);
  @apply fixed w-screen h-screen;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) translate(-50%, -50%);
  }

  50% {
    transform: scale(1, 2) translate(-50%, -50%);
  }

  to {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

.grid-leistungen {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 400px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-bottom: 32px;
}

@media (max-width: 640px) {
  .grid-leistungen {
    grid-template-rows: 108px 1fr 1fr;
  }
}

